<template>
  <v-container fluid>
    <h1 class="text-center">Analysis</h1>
    <v-sheet class="mx-auto" elevation="0" max-width="800">
      <v-slide-group class="pa-4" active-class="success" show-arrows>
        <v-slide-item v-for="(ana, i) in analysis" :key="i">
          <v-card :color="activeIndex == i ? 'green lighten-1' : 'white'" class="ma-4" height="200" width="100" @click="toggle(i)">
            <v-row class="fill-height" align="center" justify="center">
              <v-scale-transition>
                <v-icon v-if="activeIndex == i" color="white" size="48"  v-text="'mdi-close-circle-outline'"></v-icon>
                <h1 v-else class="red--text">{{ i+1 }}</h1>
              </v-scale-transition>
            </v-row>
          </v-card>
        </v-slide-item>
      </v-slide-group>
    </v-sheet>
    <h2 class="text-left">{{ analysis[activeIndex].NAME }}</h2><br>
    <h3 class="text-left">INCLUSION CRITERIA</h3><br>
    <p class="text-left">{{ analysis[activeIndex].IC }}</p><br>
    <h3 class="text-left">CASES</h3><br>
    <p class="text-left">{{ analysis[activeIndex].CASES }}</p><br>
    <h3 class="text-left">CONTROLS</h3><br>
    <p class="text-left">{{ analysis[activeIndex].CONTROLS }}</p><br>
  </v-container>
</template>
<script>
  export default {
    data: () => ({
      model: null,
      activeIndex: 0,
      analysis: [
        {
          NAME: 'Analysis 1 (name: ANA1)',//PHENOTYPE NAME
          IC: 'SARS-CoV-2 infected individuals with a clinical window of 15-90 days from diagnosis *. ', //INCLUSION CRITERIA
          CASES: 'death OR respiratory support (intubation, CPAP, CPN or BiPAP, See Appendix 1 for codes).',
          CONTROLS: 'alive individuals without respiratory support at any point since diagnosis.',
        },
        {
          NAME: 'Analysis 2 (name: ANA2)',//PHENOTYPE NAME
          IC: 'SARS-CoV-2 infected individuals with a clinical window of 15-90 days from diagnosis *.', //INCLUSION CRITERIA
          CASES: 'hospitalized (in-patient) individuals',
          CONTROLS: 'non-hospitalized individuals',
        },
        {
          NAME: 'Analysis 3-mortality (phenotype name: ANA3)',//PHENOTYPE NAME
          IC: 'SARS-CoV-2 infected individuals with a clinical window of 15-90 days from diagnosis *.', //INCLUSION CRITERIA
          CASES: 'individuals that died',
          CONTROLS: 'alive individuals',
        },
        {
          NAME: 'Analysis 4-severity ordinal  (phenotype name: ANA4)',//PHENOTYPE NAME
          IC: 'hospitalized SARS-CoV-2 infected individuals with a clinical window of 15-90 days from diagnosis *.', //INCLUSION CRITERIA
          CASES: '3 level scale (mild,severe,critical) of COVID19 disease severity. Mild: nonpneumonia and mild pneumonia. Severe: dyspnea, respiratory frequency ≥30/min, blood oxygen saturation ≤93%, partial pressure of arterial oxygen to fraction of inspired oxygen ratio <300, and/or lung infiltrates >50% within 24 to 48 hours. Critical: respiratory failure, septic shock, and/or multiple organ dysfunction or failure. Adaptations of this scale are possible within each study. Studies will need to report the exact criteria used to define: mild,severe,critical.',
          CONTROLS: 'Group study into [case/control] mild/severe, severe/critical, critical/mild ',
        },
        {
          NAME: 'Analysis 5-susceptibility  (phenotype name: ANA5)',//PHENOTYPE NAME
          IC: 'everyone.', //INCLUSION CRITERIA
          CASES: 'individuals diagnosed with COVID-19.',
          CONTROLS: 'individuals without documented diagnosis of COVID-19.',
        },
        {
          NAME: 'Analysis 6-susceptibility-severe  (phenotype name: ANA6)',//PHENOTYPE NAME
          IC: 'everyone.', //INCLUSION CRITERIA
          CASES: 'individuals diagnosed with COVID-19 and hospitalized.',
          CONTROLS: 'individuals without documented diagnosis of COVID-19.',
        },
        {
          NAME: 'Analysis 7-flu symptoms  (phenotype name: ANA7)',//PHENOTYPE NAME
          IC: ' everyone.', //INCLUSION CRITERIA
          CASES: 'individuals reporting flu-related symptoms (definition is cohort-specific and based on questionnaire data, see Appendix 2 for an example) during the COVID-19 pandemic period. ',
          CONTROLS: 'individuals reporting no flu-related symptoms',
        },
      ]
    }),
    methods: {
      toggle(e){
        this.activeIndex = e
      }
    }
  }
</script>