<template>
	<v-container class="text-center">
	  <h3>SGLMM </h3>
	   We shall perform our own imputations on the data utilising a sparse graph linear mixed model to determine SNPs responsible for each phenotype as well as each SNPs effect size. 
	   <br><br>
	 	Efforts are being made to automate this process by building an SGLMM API, however as of now imputations will be run offline and uploaded within 24 hours of investigators posting their study data. Kindly upload plink data for analysis (very widely used application for analyzing genotypic data), we require a .bed (Binary PED file), .bim and .fam file.
	</v-container>
</template>