<template>
  <v-card class="elevation-0">

    <v-card-text> 
      <v-text-field
        ref="name"
        v-model="investigator"
        :rules="[() => !!investigator || 'This field is required']"
        :error-messages="errorMessages"
        label="Investigator's Name"
        placeholder="John Doe"
        prepend-icon="mdi-account-outline"
        required
        outlined
      ></v-text-field>
      <v-autocomplete
        ref="country"
        v-model="country"
        :rules="[() => !!country || 'This field is required']"
        :items="countries"
        label="Country"
        prepend-icon="mdi-flag"
        placeholder="Select Country..."
        required
        outlined
      ></v-autocomplete>

      <v-text-field
        ref="studyName"
        v-model="studyName"
        prepend-icon="mdi-format-text-variant"
        :rules="[() => !!studyName || 'This field is required']"
        :error-messages="errorMessages"
        label="Study Name"
        placeholder="Columbia University COVID-19 BIOBANK"
        required
        outlined
      ></v-text-field>

      <v-textarea
        ref="studyDescription"
        v-model="studyDescription"
        prepend-icon="mdi-card-text"
        :rules="[() => !!studyDescription || 'This field is required']"
        :error-messages="errorMessages"
        label="Study Description"
        placeholder="We have a long standing interest in the genetics of infectious diseases, We propose to undertake high throughput genotyping and exome sequencing of 1000 patients and investigate genotype-phenotype correlations in individuals with COVID-19. We will also undretake functional studies."
        required
        outlined
      ></v-textarea>

      <v-text-field
        ref="affiliation"
        v-model="affiliation"
        prepend-icon="mdi-school"
        :rules="[() => !!affiliation || 'This field is required']"
        :error-messages="errorMessages"
        label="Affiliation"
        placeholder="Columbia University"
        required
        outlined
      ></v-text-field>

      <v-autocomplete
        ref="analysis"
        v-model="analysis"
        :rules="[() => !!analysis || 'This field is required']"
        :items="analyses"
        item-text="NAME"
        item-value="NAME"
        prepend-icon="mdi-poll"
        label="Analysis"
        placeholder="Select Analysis..."
        required
        outlined
      >
      </v-autocomplete>

      <v-file-input
         v-model="caseFiles"
         color="deep-purple accent-4"
         counter
         label="Upload plink case files (.bed, .bim, .fam)"
         multiple
         prepend-icon="mdi-paperclip"
         outlined
         :show-size="1000"
       >
         <template v-slot:selection="{ text }">
           <v-chip
             color="deep-purple accent-4"
             dark
             label
             small
           >
             {{ text }}
           </v-chip>

         </template>
       </v-file-input>

       <v-file-input
          v-model="controlFiles"
          color="deep-purple accent-4"
          counter
          label="Upload plink control files (.bed, .bim, .fam)"
          multiple
          hint="Select all the files at once"
          outlined
          prepend-icon="mdi-paperclip"
          :show-size="1000"
        >
          <template v-slot:selection="{ text }">
            <v-chip
              color="deep-purple accent-4"
              dark
              label
              small
            >
              {{ text }}
            </v-chip>

          </template>
        </v-file-input>
    </v-card-text>
    <v-divider class="mt-12"></v-divider>
    <v-card-actions>
      <v-btn text>Cancel</v-btn>
      <v-spacer></v-spacer>
      <v-btn color="primary" text @click="uploadCaseFiles">Submit</v-btn>
    </v-card-actions>
    <v-snackbar
      v-model="snackbar"
      :timeout="3000"
    >
      {{ message }}
      <v-btn
        color="blue"
        text
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

    <v-fade-transition>
      <v-overlay
        v-if="load"
        absolute
        color="white"
      >
        <v-progress-circular indeterminate size="64" color="black"></v-progress-circular>
      </v-overlay>
    </v-fade-transition>
  </v-card>
</template>
<script>
import { v4 as uuidv4 } from 'uuid'
import axios from 'axios'

export default {
	data: () => {
		return {
			investigator: null,
			country: null,
			studyName: null,
			selFile: null,
			studyDescription: null,
			analysis: null,
			affiliation: '',
			location: '',
			caseFiles: '',
			controlFiles: '',
			countries: [],
			analyses: [],
			errorMessages: '',
			formHasErrors: false,
			controlFilesIndex: 0,
			caseFilesIndex: 0,
      studyUUID: '',
			caseFilesUUID: '',
			controlFilesUUID: '',
			blobType: null,
      load: false,
      message: null,
      snackbar: false,
		}
	},

  mounted(){
    this.countries = require('./helpers/countries.js')
    this.analyses = require('./helpers/analyses.js')
  },


	methods: {
	  uploadCaseFiles() {

	  	// var i, fileInput, files, allowedFileTypes;

	  	// // files is a FileList object (simliar to NodeList)
	  	// files = this.caseFiles

	  	// // our application only allows GIF, PNG, and JPEG images
	  	// allowedFileTypes = ["image/png", "image/jpeg", "image/gif"];

	  	// for (i = 0; i < files.length; i++) {
	  	//   // Test if file.type is an allowed file type.
	  	//   if (allowedFileTypes.indexOf(files[i].type) > -1) {
	  	//     // file type matched is one of allowed file types. Do something here.
	  	//   }
	  	// }

      this.load = true
	
	  	var fd = new FormData()
	  	var blob = this.caseFiles[this.caseFilesIndex]

	  	var str = this.caseFiles[this.caseFilesIndex].name.split('.')

	  	if (this.caseFilesIndex == 0) {
        var uuid = uuidv4()
        this.studyUUID = uuid
	  		this.caseFilesUUID = 'C'+ uuid
	  		this.controlFilesUUID = 'Q'+ uuid
	  	}

	  	var fileName = this.caseFilesUUID + '.' + str[1] + '.' + str[2]

	  	var newFile = new File([blob], fileName, {type: blob.type})

	  	fd.append('file', newFile )
	  	fd.append('filename', fileName)

      axios.post('api/documents/', fd, 
        { headers: {
          'Content-Type': 'multipart/form-data'
           }
        }).then( (res) => {
          if (this.caseFilesIndex+1 < this.caseFiles.length ) {
            this.caseFilesIndex++ 
            this.uploadCaseFiles()
          }else{
           this.uploadControlFiles()             
          }
      }, () => {
        console.log('oops')
      })

	 
	  },

	  uploadControlFiles() {
	  		
	  	var fd = new FormData()
	  	var blob = this.controlFiles[this.controlFilesIndex]

	  	var str = this.controlFiles[this.controlFilesIndex].name.split('.')
	  	var fileName = this.controlFilesUUID + '.' + str[1] + '.' + str[2]

	  	var newFile = new File([blob], fileName, {type: blob.type})

	  	fd.append('file', newFile )
	  	fd.append('filename', fileName)

      axios.post('api/documents/', fd,         
        { headers: {
          'Content-Type': 'multipart/form-data'
           }
        }).then( (res) => {
          if (this.controlFilesIndex+1 < this.controlFiles.length ) {
            this.controlFilesIndex++ 
            this.uploadControlFiles()
          }else{
           this.postForm()             
          }
      }, () => {
        console.log('oops')
      })

	  },

	  postForm(){
      var f = new FormData()
      f.append('investigator', this.investigator)
      f.append('country', this.country)
      f.append('studyName', this.studyName)
      f.append('studyDescription', this.studyDescription)
      f.append('analysis', this.analysis)
      f.append('affiliation', this.affiliation)
      f.append('studyUUID', this.studyUUID)

      axios.post('api/studyData/', f).then( (r) => {
        this.load = false
        this.message = "Study Data was uploaded successfully"
        this.snackbar = true
        this.$store.dispatch('getStudyData', {})
      }, (err) => {
        this.load = false
        this.message = "Ooops, looks like something went wrong"
        this.snackbar = true
      })

	  },
	  runSGLMM(){

	  }
	},
}
</script>

