<template>
  	<v-toolbar color="whitish" app style="box-shadow: 0px 1px 20px 1px rgba(15, 15, 18, 0.1);">
<!--   		<v-toolbar-items>
  		  <v-btn text>Info</v-btn>
  		</v-toolbar-items> -->
       <v-spacer></v-spacer>
  	  <v-toolbar-title class="ml-2"> 
  	  	<a href="">
  	  		<img src="/static/images/genoai.png" style="height: 56px;">
  	  	</a>
  	  </v-toolbar-title> 
  	  <v-spacer></v-spacer>
<!--   	  <v-toolbar-items>
  	    <v-btn text>Results</v-btn>
  	  </v-toolbar-items> -->
  	</v-toolbar>
</template> 