<template>
  <v-container class="fill-height" fluid>
    <v-row justify="center" align="center">
      <v-col cols="12" sm="6">
        <Rationale></Rationale>
      </v-col>
      <v-col cols="12" sm="6">
        <Form></Form>
      </v-col>
      <v-col cols="12">
        <Analysis></Analysis>
      </v-col>
      <v-col cols="12" sm="6">
        <Definition></Definition>
      </v-col>
      <v-col cols="12">
        <v-row justify="center" align="center">
          <v-col cols="12" sm="6">
            <Logs></Logs>
          </v-col>
        </v-row>
      </v-col>

    </v-row>
  </v-container>
</template>
<script>
import Rationale from './Rationale'
import Form from './Form'
import Definition from './Definition'
import Analysis from './Analysis'
import Logs from './Logs'

export default {
  components: {
    Rationale,
    Form,
    Definition,
    Analysis,
    Logs,
  }
}
</script>