<template>

  <div>
    <v-slide-x-reverse-transition
      group
      hide-on-leave
    >
      <div
        v-for="(item, i) in items"
        :key="i"
        color="black"
        small
        fill-dot
      >
        <v-alert
          :value="true"
          color="black"
          dark
          icon="mdi-backburger"
          class="white--text"
        >
        <div class="subtitle">{{ item.studyUUID }}</div>
        <h2 class="white--text">{{ item.studyName }}</h2>
        <div class="subtitle">{{ item.studyDescription }}</div>
        <v-divider dark></v-divider>
        <div class="subtitle">{{ item.investigator }}</div>
        <p>{{ item.analysis }}</p>
        <v-chip class="white--text ml-2" color="orange" label small>{{ item.country }}</v-chip>
        <v-chip class="white--text ml-2" color="purple" label small>{{ item.affiliation }}</v-chip>

        <v-row>
          <v-col cols="12">
            <div class="subtitle">CASE DATA</div>
          </v-col>
          <v-col cols="6" sm="2" v-for="(doc, i) in docs" class="mt-0 ml-4">
            <v-btn icon color="white" style="text-decoration: none;" :href="'https://plink.genoai.com.s3.amazonaws.com/media/public/C'+item.studyUUID+'.plink' + doc">
              <v-icon>mdi-file-document-outline</v-icon>
              {{ doc }}
            </v-btn>
          </v-col>
          <v-col cols="12">
            <div class="subtitle">CONTROL DATA</div>
          </v-col>
          <v-col cols="6" sm="2" v-for="(doc, i) in docs" class="mt-0 ml-4">
            <v-btn icon color="white" style="text-decoration: none;" :href="'https://plink.genoai.com.s3.amazonaws.com/media/public/Q'+item.studyUUID+'.plink' + doc">
              <v-icon>mdi-file-document-outline</v-icon>
              {{ doc }}
            </v-btn>
          </v-col>
        </v-row>
        </v-alert>
      </div>
    </v-slide-x-reverse-transition>
  </div>

</template>
<script>
  export default {
    data: () => ({
      interval: null,
      items: [],
      docs: ['.bim', '.bed', '.fam'],
      nonce: 1,
    }),

    beforeDestroy () {
      this.stop()
    },

    mounted() {
      this.$store.dispatch('getStudyData', {})
    },

    computed: {
      studyData(){
        return this.$store.state.studyData
      }
    },

    watch: {
      studyData(v){
        this.items = v
      }
    },

    methods: {
      addEvent () {
        this.items.unshift(this.studyData[this.nonce++])

        if (this.nonce > 6) {
          this.items.pop()
        }
      },

      start () {
        this.interval = setInterval(this.addEvent, 3000)
      },
      stop () {
        clearInterval(this.interval)
        this.interval = null
      },
    },
  }
</script>