<template>
    <v-container pa-3 class="text-center">
		<!-- <h1 class="text-center">RATIONALE</h1><br> -->
        <blockquote class="blockquote">Identification of human genetic factors impacting the COVID19 pandemic represents a simple and scalable set of analyses which holds the potential to rapidly offer important information. Within individual cohorts, we propose establishing a shared set of phenotypes to be combined with genomic data for standard GWAS and further meta-analysis by the analysis group. The aim of this project is to accelerate GWAS by creating a digital workspace to share and analyse genetic information.
     	</blockquote>
    </v-container>
</template>
<style>
	.v-application {
    font-family: 'Source Code Pro', monospace!important;
    line-height: 1.5;
}

</style>