<template>
  <div id="app">
  	<v-app>
  	  <v-content>
	    <Header></Header>
	    <Home></Home>
	  </v-content>
	</v-app>
  </div>
</template>

<script>
import Header from './components/Header'
import Home from './components/Home'
export default {
  name: 'app',
  components: {
    Header,
    Home
  }
}
</script>

<style>
</style>